pymongo==3.8.0
ipython==7.7.0
google-api-python-client==1.7.10
matplotlib==3.0.3
python-dateutil==2.8.0
pandas==1.0.4
numpy==1.19.2
seaborn==0.11.0 
geopandas==0.7.0
descartes==1.1.0
shapely==1.7.0
geopy==2.0.0
plotly==4.8.1